{% extends 'frontEnd/index.html' %}
{% load static %}

{% block page_title %}আমাদের সম্পর্কে{% endblock %}

{% block main_content %}

<br><br><br><br>
	<section class="bg0 p-b-60">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-8 p-b-80">
					<div class="p-r-10 p-r-0-sr991">
						<h1 style="font-size: 30px;"><strong>ABOUT US</strong></h1>
						<p>
							agamibangla.com is one among the foremost popular Bangla news portals in Bangladesh. the web news portal has started its operations with the commitment of fearless, investigative, informative and neutral journalism.
							<br><br>
							agamibangla.com has provided real time news update, using utmost modern technology since 2021. It also provides archive of previous news, and printing facility of the precise news items. One can easily find latest news and top breaking headlines from Bangladesh and round the world within a brief span of your time from the web news portal.
							<br><br>
							agamibangla.com, the Bangladesh’s leading online news portal, is updating 24/7 with entertainment, lifestyle, politics, technology, health, sports, economics, culture, education, columns and features.
							<br><br>
							The newsbased site enriched with all the weather of country’s traditional newspapers. a gaggle of youngster journalists are working for the web news portal.
							<br><br>
							agamibangla.com is trying to make a bridge with Bengali language people round the world and need to create a replacement dimension to the country’s online news portal.
						</p>
					</div>
				</div>

			</div>
		</div>
	</section>



{% endblock %}