{% extends 'backEnd/index.html' %}
{% load static %}

{% block main_content %}

<div class="row">

    <!-- Django message frameword -->
    {% if messages %}
    {% for message in messages %}
    <ul class="alert alert-{{ message.tags }} alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4{% if message.tags %} class="text-{{ message.tags }} text-center"{% endif %}> <strong>{{message}}</strong> </h4>
    </ul>
    {% endfor %}
    {% endif %}

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="block">
            <div class="block-title">
                <h2>Edit Social Media Links!</h2>
            </div>
            <!-- END Input Grid Title -->
            <form action="{%url 'adminPanelEditEditorPublisher' pk=pk %}" method="post" class="form-horizontal form-bordered">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-xs-6">
                        <input type="text" name="editor_name" class="form-control" value="{{existing_editor_publisher_info.editor_name}}" required>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" name="publisher_name" class="form-control" value="{{existing_editor_publisher_info.publisher_name}}" required>
                    </div>
                </div>

                <div class="form-group form-actions">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-sm btn-primary">Update</button>
                    </div>
                </div>
            </form>
            <!-- END Input Grid Content -->
        </div>
        <!-- END Input Grid Block -->
    </div>
    <div class="col-md-2"></div>
</div>
<!-- END Input Grid Row -->

{% endblock %}