{% extends 'backEnd/index.html' %}
{% load static %}

{% block main_content %}

<div class="row">

    <!-- Django message frameword -->
    {% if messages %}
    {% for message in messages %}
    <ul class="alert alert-{{ message.tags }} alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4{% if message.tags %} class="text-{{ message.tags }} text-center"{% endif %}>
        <strong>{{message}}</strong> </h4>
    </ul>
    {% endfor %}
    {% endif %}

    <div class="col-md-6">
        <div class="block">
            <div class="block-title">
                <h2>Add News Category!</h2>
            </div>
            <!-- END Input Grid Title -->

            <!-- Input Grid Content -->
            <form action="{%url 'adminPanelNewsCats' %}" method="post" enctype="multipart/form-data"
                  class="form-horizontal form-bordered">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-md-7 text-left">
                        <input type="text" name="news-category" id="news-category" class="form-control"
                               placeholder="Add Category" required>
                    </div>
                    <div class="col-md-5">
                        <button type="submit" class="btn btn-sm btn-primary">Add</button>
                    </div>
                </div>
            </form>
            <!-- END Input Grid Content -->
        </div>
        <!-- END Input Grid Block -->
    </div>
    <div class="col-md-6">
        <div class="block">
            <div class="block-title">
                <h2>Add News Sub-category</h2>
            </div>
            <!-- END Input Grid Title -->
            <form action="{% url 'adminPanelAddNewsSubCats' %}" method="post" class="form-horizontal form-bordered">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-xs-5">
                        <select id="select-category" name="select-news-category" class="form-control" size="1" required>
                            <option value="0">Please select category</option>
                            {% for category in category_list %}
                            <option value="{{category.pk}}">{{category.category_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-5">
                        <input type="text" name="news-subcategory" class="form-control" placeholder="Add News Sub-category" required>
                    </div>
                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-sm btn-primary">Add</button>
                    </div>
                </div>
            </form>
            <!-- END Input Grid Content -->
        </div>
        <!-- END Input Grid Block -->
    </div>
</div>
<!-- END Input Grid Row -->

<!-- table section -->
<!-- Responsive Full Block -->
<div class="block">
    <!-- Responsive Full Title -->
    <div class="block-title">
        <h2><strong>News Categories</strong> List</h2>
    </div>
    <!-- END Responsive Full Title -->

    <div class="table-responsive">
        {% if category_list %}
        <table class="table table-vcenter table-striped">
            <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Category Name</th>
                <th class="text-center">Sub-category List</th>
                <th style="width: 150px;" class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in category_list %}
            <tr>
                <td class="text-center">{{forloop.counter}}</td>
                <td class="text-center">{{category.category_name}}</td>
                <td class="text-center"><a href="{% url 'adminPanelNewsSubCatList' pk=category.pk %}" class="label label-success">See Sub-categories</a></td>
                <td class="text-center">
                    <div class="btn-group btn-group-xs">
<!--                        <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-pencil"></i> Edit</a>-->
                        <a href="{% url 'adminPanelDelNewsCat' pk=category.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-danger"><i class="fa fa-times"></i> Delete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3 class="text-center">No news category found!!</h3>
        {% endif %}
    </div>
    <!-- END Responsive Full Content -->
</div>
<!-- END Responsive Full Block -->
<!-- table section ends-->

{% endblock %}